{% extends 'base.html' %}


{% block content %}

<h1>{{ event.event_name }}</h1>
<img src="{{ event.event_image.url }}" width="300px">

<div>
    <p>Datum:</p>
    {% for event_date in event_dates %}
      <b>{{event_date.get_time_from}} - {{event_date.get_time_to}}</b></p>
    {% endfor %}

    {% if request.user.email == event.organizer_id.email  %}
        <a href="{% url 'add_event_copy' event.id %}">Pridat event s inym datumom</a>
    {% endif %}
</div>
<p>Miesto: {{ event.place }}</p>
<p>Adreesa: {{ event.address }}</p>
<h2>Vstupekny</h2>
 {% for event_date in event_dates %}
    <p>
    <b>{{event_date.get_time_from}} - {{event_date.get_time_to}}</b>
    {% for key,value in event_date_free_tickets.items %}
        {% if key == event_date.id %}
            {% if not value %}
                <p>Listky su vypredane!</p>


            {% else %}
                <form action="{% url 'add_num_ticket' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{event.id}}">
                    <input type="hidden" name="event_date" value="{{event_date.id}}">
                    <input type="submit" value="Koupit vstupenku">
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
    </p>
{% endfor %}

<br>
<h2>POPIS PODUJATIA</h2>
<p>{{ event.description }} </p>
<h2>Galeria</h2>
<h2>Komentare</h2>

    {% for comment in comments %}
        <div>
            </p>{{ comment.comment }}<p>
            <h6>{{ comment.user_id.get_username }} - {{ comment.comment_date }}</h6>
        </div>
    {% empty %}
        <p>Ziaden komentar pre event.</p>
    {% endfor %}

<form action="{% url 'add_comment' %}" method="post">
    {% csrf_token %}
    <div>
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
    </div>
    <input type="hidden" name="event_id" value="{{event.id}}">
    <input type="submit" value="Pridat komentar">
</form>

{% endblock%}
