{% extends 'base.html' %}



{% block content %}

<h1>Vysledok vyhladávania</h1>

<div class="box-container">
        {% for event in events %}
        <a href="{% url 'event_detail' event.id %}">
            <div class="box">

                    <img src="{{ event.event_image.url }}" alt="">
                    <h3>{{ event.event_name }}</h3>
                    <p>{{ event.description |truncatechars:50 }}</p>

            </div>
        </a>

        {% empty %}
        <p>Nenasiel sa ziaden event ktory by v nazve obsahoval {{ searched_word }}</p>
        {% endfor  %}
</div>
{% endblock content %}
