{% extends 'base.html' %}



{% block content %}

<h1>Vysledok vyhladávania</h1>
<div>
        <form action="{% url 'advanced_search' %}" method="post">
                {% csrf_token %}
                <input type="text" name="search" class="search">
                <select name="date" id="">
                        <option value="">Vybrat datum</option>
                        <option value="today">Dnes</option>
                        <option value="this_week">Tento tyzden</option>
                        <option value="this_month">Tento mesiac</option>
                        <option value="next_month">Dalsi mesiac</option>
                </select>
                <input type="submit" value="Hladat" accesskey="s" />
        </form>
</div>
<div style="clear:both;"></div>
<div class="box-container">
        {% for event in events %}
        <a href="{% url 'event_detail' event.id %}">
            <div class="box">

                    <img src="{{ event.event_image.url }}" alt="">
                    <h3>{{ event.event_name }}</h3>
                    <p>{{ event.description |truncatechars:50 }}</p>

            </div>
        </a>

        {% empty %}
        <p>Nenasiel sa ziaden event ktory by v nazve obsahoval {{ searched_word }}</p>
        {% endfor  %}
</div>
{% endblock content %}
