{% extends 'base.html' %}



{% block content %}

<h2>Košík</h2>
{% for value in range %}
    {{ value }}
{% endfor %}

{% if orders %}
    <ul>
    {% for order in orders %}
        <div>
            <h3>{{ order.event_id.event_name }}</h3>
            <div><a href="">Odobrat</a></div>
            <span>{{order.event_date.date_from}}</span>
             <span>{{order.event_id.place}}, {{order.event_id.address}}</span>
            <div>
                Organizátor:{{order.event_id.organizer_id.company_name}}, ICO: {{order.event_id.organizer_id.company_ico}},
                {{order.event_id.organizer_id.address}}
            </div>
            <p>Lístky:</p>
            <table>
              <colgroup span="4"></colgroup>
              <tr>
                <th></th>
                <th>Zľava</th>
                <th>Cena</th>
                <th></th>
              </tr>


              {% for item in "x"|ljust:order.ticket_count %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>-</td>
                <td>{{order.event_id.ticket_price}} €</td>
                <td><a href="">Odobrat</a></td>
              </tr>
              {% endfor %}

            </table>
            <div>{{order.ticket_count}}ks/{% widthratio order.ticket_count 1 order.event_id.ticket_price  %} €</div>
            <form action="{% url 'add_num_ticket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="event_id" value="{{order.event_id.id}}">
                <input type="hidden" name="event_date" value="{{order.event_date.id}}">
                <input type="submit" value="Pridat listok">
            </form>
        </div>
    </ul>
    {% endfor %}
    <h2>Spôsob doručenia</h2>
    <input type="radio" name="" id="" checked>
    <span>HOMEticket - tlač lístkov doma, listky budu poslane na emilovu adresu ktoru Ste uviedli pri registracii</span>
    <p>{{request.user.email}}</p>

    <h2>Zvoľte spôsob platby</h2>
        <fieldset>
            <div>
            <input type="radio" id="cart_online" name="payment" value="Kartou online" checked />
            <label for="cart_online">Kartou online</label>
            </div>

            <div>
            <input type="radio" id="google_pay" name="payment" value="google_pay" />
            <label for="google_pay">Google pay</label>
            </div>

            <div>
            <input type="radio" id="paypal" name="payment" value="paypal" />
            <label for="paypal">PayPal</label>
            </div>

            <div>
            <input type="radio" id="crypto" name="payment" value="crypto" />
            <label for="crypto">Platba kryptomenou: BTC, BTC Lightning, ETH, USDT, LTC...</label>
            </div>
        </fieldset>

        <h2>Fakturačné údaje</h2>
        {{request.user.get_billing_information}}

        <h2>SUMÁR OBJEDNÁVKY</h2>
        <table>
            <tr>
                <td>Vstupenky</td>
                <td>{{ tickets_price }} €</td>
            </tr>
            <tr>
                <td>Archivačno-manipulačný poplatok	</td>
                <td>0,50 €</td>
            </tr>
            <tr>
                <td>Spolu</td>
                <td>{{ full_price }} €</td>
            </tr>
        </table>
        <p>
            <input type="checkbox" name="" id="" required>
            <span>Používateľ súhlasí s OBCHODNÝMI PODMIENKAMI predajnej siete TicketDB. (* povinné)</span>
        </p>

    <form action="{% url 'order_success' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="" value="">
        <input type="submit" name="" value="Zaplatiť {{full_price}} € Objednávka s povinnosťou platby">
    </form>

{% else %}
    <h2>Kosik je prazdny</h2>
{% endif %}

{% endblock%}
