@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Leckerli+One&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    /*background: #be7547; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header a:hover {
    color: orange;
}


/* HEADER */
header {

    top: 0px;
    padding: 0 2rem;
    background-image: url('images/event-bg.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 500px;
    opacity: 2;
	filter: alpha(opacity=50);
}

header h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.navbar1 {
    width: 100;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar1 .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo {
    width: 60px;
    height: auto;
}


.navbar1 .links {
    display: flex;
    gap: 2.5rem;
}

.navbar1 .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale .2 ease;
}

.action_btn:hover {
    color: #fff;
    scale: 1.1;
}


.search {
    line-height: 24px;
    width: 200px;
    border-radius: 30px;
}


.navbar2 ul li {
    display: inline-block;
    position: relative;
    padding-right:100px;
}



navbar2 ul li a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

navbar2 ul li a:hover {
    background-color: #f0f0f0;
}


/* body  */

.container {
    background: linear-gradient(#ac6b45, #ffd9aa);
    padding: 15px 9%;
    min-height: 100vh;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 55px;
    padding: 50px;
}


.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    width: 350px;
    height: 500px;
    outline: 1px solid #000;
}

.container .box-container a {
    cursor: pointer;
}

.container .box-container .box:hover {
    outline: 2px solid #FFF;
}

.container .box-container .box img {
    height: 250px;
}






footer {
    text-align: center;
    margin-top: auto;
    background: #ac6b45;
    padding: 30px 20px;
}
