{% load static %}

<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DB Event</title>
        <link rel="stylesheet" href="{% static 'events/style.css' %}">
    </head>
    <body>
        <header>
            {% include "nav.html" %}

        </header>

        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>
