<div class="navbar1">
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <label> Vyhladať: </label>
        <input type="text" name="search" class="search">
        <input type="submit" value="Hladať" accesskey="s" />
    </form>
    {% if request.user.is_authenticated %}
        <ul class="links">
            <li>Prihlásený ako: <span id='username'><a href="{% url 'profile' %}">{{request.user}}</a></span></li>
            <li><a href="{% url 'logout' %}" id="logout">Logout</a></li>
            {% if request.user.is_superuser %}
                <li><a href="/admin" target="_blank" id="admin">Admin</a></li>
            {% endif %}
    {% else %}
            <li><a href="{% url 'login' %}" id="login">Prihlásenie </a></li>
            <li><a href="{% url 'user_signup' %}" id="signup-user">Registrácia</a></li>
            <li><a href="{% url 'organizer_signup' %}" id="signup-organizer">Chcete založiť event? </a></li>
        </ul>
    {% endif %}
</div>

<div class="navbar2">
    <ul>
        <li><a href="{% url 'index' %}">Domov</a></li>
        <li><a href="{% url 'event_category' 'Divadlo' %}">Divadlo</a></li>
        <li><a href="{% url 'event_category' 'Festival' %}">Festival</a></li>
        <li><a href="{% url 'event_category' 'Sport' %}">Šport</a></li>
        <li><a href="{% url 'event_category' 'Zabava' %}">Zábava</a></li>
        <li><a href="{% url 'event_category' 'Ostatne' %}">Ostatné</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'shopping_cart' %}">Nákupný košik</a></li>
        {% endif %}
        {% if request.user.organizer or request.user.is_superuser %}
            <li><a href="{% url 'event_create' %}">Pridať event</a></li>
        {% endif %}
    </ul>
</div>

<h1>EventDB - najlepsie eventy u nas</h1>
